body{
    background-color:  #333333;
    color: white;
    font-family: Share;
    text-align: center;
    display: inline-block;
    align-content: center;
}

.about{
    font-family: Contrail One;
}

#profile{
    height: 25%;
    width: 25%;
}
